*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    width: 60px;
    height: 100vh;
    background-color: #333;
    transition: width 0.2s ease;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
}

.navbar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    white-space: normal;
    word-wrap: break-word;
    opacity: 0;
    transition: padding 0.2s ease, opacity 0.1s ease;
    max-width: 150px;
}

.navbar .subpunct{
    margin-left: 15px;
}

.navbar a:hover {
    background-color: #575757;
}
  
.navbar:hover {
    width: 200px;
    overflow-y: auto;
}
  
.navbar:hover a {
    padding-left: 20px;
    width: 200px;
    opacity: 1;
}

.mijloc{
    width: calc(100% - 60px);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: margin-right 1s ease;
}

.navbar:hover + .mijloc {
    margin-right: 200px;
}

.titlu{
    max-width: 1200px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    border: rgb(200, 199, 199) 1px solid;
    margin-top: 20px; 
    position: relative;
    padding: 20px;
    opacity: 1;
    transition: transform 0.3s ease;
}

.titlu h1{
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

.titlu h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
}


.infgenerale, .cauzele, .cumsarealizat, .domnia, .consecinte, .importanta, .sarbatoari{
    max-width: 1200px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    border: rgb(200, 199, 199) 1px solid;
    margin-top: 20px; 
    position: relative;
    padding: 20px;
    opacity: 1;
    transition: transform 0.3s ease;
}
.infgenerale, .cauzele, .cumsarealizat, .domnia, .consecinte, .importanta, .sarbatoari h1{
    font-size: 20px;
    font-weight: bolder;
}
.infgenerale, .cauzele, .cumsarealizat, .domnia, .consecinte, .importanta, .sarbatoari h2{
    font-size: 15px;
    font-weight: bolder;
}

.infgenerale, .cauzele, .cumsarealizat, .domnia, .consecinte, .importanta, .sarbatoari p{
    font-size: medium;
    font-weight: lighter;
}

.navbar:hover + .mijloc .infgenerale, 
.navbar:hover + .mijloc .cauzele,
.navbar:hover + .mijloc .cumsarealizat,
.navbar:hover + .mijloc .domnia,
.navbar:hover + .mijloc .consecinte,
.navbar:hover + .mijloc .importanta {
    transform: translateX(10px);    
}

.navbar:hover + .mijloc .titlu, 
.navbar:hover + .mijloc .sarbatoari {
    transform: translateX(10px);
    transition: transform 0.3s ease;
}